<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="Benjamin Moss">

    <!-- Tailwind CSS -->
    <link href="{{ globals.base_url }}/css/output.css" rel="stylesheet" type="text/css">

    <title>{{ page.title }}</title>
</head>
<body class="
    grid grid-rows-6 grid-cols-12
    min-h-screen bg-zinc-50">
    
    <!-- Sidebar -->
    {% include "sidebar.html" %}

    <!-- Main content area -->
    {% block content %} {% endblock %}
</body>

<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script>

<!-- HTMX json-enc extension -->
<script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>

<!-- HyperScript -->
<script src="https://unpkg.com/hyperscript.org@0.9.8"></script>

</html>