<div class="row-start-1 row-span-full col-start-1 col-span-4 px-28 flex flex-col justify-start align-middle items-center bg-white">
    <div class="w-full h-full flex flex-col justify-center align-middle items-start space-y-9">
        <div class="">
            <h1 class="font-title font-semibold text-lg text-black">suprboard</h1>
        </div>
        <div class="space-y-2">
            <h2 class="font-title font-extrabold text-3xl text-black">Welcome back!</h2>
                <p class="text-md text-stone-500">
                    Sign in to continue.
                </p>
        </div>
        <form id="user_auth" class="w-full space-y-6">         
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email Address</label>
                <input type="text" name="email" placeholder="email@example.com" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500">
            </div>

            <div>
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-sky-600 focus:border-sky-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sky-500 dark:focus:border-sky-500">
            </div>

            <div class="flex items-center justify-between">
                <div class="flex-grow"></div>
                <a href="#" class="text-sm font-medium text-sky-600 hover:underline dark:text-sky-500">Forgot password?</a>
            </div>
                
            <button type="submit" class="w-full text-white bg-sky-500 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800">Sign in</button>
            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                Don't have an account yet? <a href="#" class="font-medium text-sky-600 hover:underline dark:text-sky-500">Request an account</a>
            </p>
        </form>
    </div>
</div>

<div class="row-start-1 row-span-full col-start-5 col-span-8">
    <div class="w-full h-full bg-origin-content bg-contain bg-hero-pattern">
        <img src="">
    </div>
</div>